<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        body {
            font-size: 15px;
        }
        
        /*DADADA*/
        .box {
            border: 1px solid #DADADA;
            border-radius: 2px;
            padding: 1.5em;
            width: 40em;

            line-height: 0.8em;
        
            background-color: #F8F8F8;
        }

        .mc {
            margin: 4em auto;
        }
        
    </style>
    <script type="text/javascript" src="scripts/vue.js"></script>
</head>
<body>
        
    <div class="box mc" id="app-1">
        <p>Message: {{ msg }}</p>
        <!-- v-once 指令 一次性赋值， 当值改变时，不会刷新 -->
        <p v-once>v-once: {{ msg }}</p>
        v-model: <input type="text" v-model="msg"> <button v-bind:disabled="status">Button</button>
        <!-- javascript 表达式 -->
        <p>javascript 表达式：{{typeof Number(number) === 'number' ? number * 2 : 0 }}</p>
        number: <input type="text" v-model="number">
        <!-- 过滤器 -->
        <p>过滤器：{{ msg | capitalize }}</p>
    </div>

<script>
    
    window.onload = function() {
        var app = new Vue({
            el: '#app-1',
            data: {
                msg: 'Hello world',
                status: true,
                number: 2
            },
            filters: {
                capitalize: function(value) {
                    debugger;
                    if (!value) {
                        return '';
                    }
                    
                    return value.split(' ').reverse().join(' ');
                }
            }
        });

    };

</script>

</body>
</html>