<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
        body {
            font-size: 15px;
        }
        
        /*DADADA*/
        .box {
            border: 1px solid #DADADA;
            border-radius: 2px;
            padding: 1.5em;
            width: 40em;

            line-height: 0.8em;
        
            background-color: #F8F8F8;
        }

        .mc {
            margin: 4em auto;
        }
        
    </style>
    <script type="text/javascript" src="scripts/vue.js"></script>
</head>
<body>
        
    <div class="box mc" id="app-1">
        <p>Original message: {{ message }}</p>
        <p>Computed reversed message: {{ reversedMessage }}</p>
        firstName: <input type="text" v-model="firstName">
        lastName: <input type="text" v-model="lastName">
        <p>fullName: {{ fullName }}</p>
        fullName: <input type="text" v-model="fullName">
    </div>

<script>
    
    window.onload = function() {
        var app = new Vue({
            el: '#app-1',
            data: {
                message: 'Hello',
                firstName: 'Foo',
                lastName: 'Bar'
            },
            computed: {
                reversedMessage: function() {
                    // this 指向这个 vue 对象
                    return this.message.split('').reverse().join('');
                },
                fullName: {
                    get: function() {
                        return this.firstName + ' ' + this.lastName;
                    },

                    set: function(value) {
                        var names = value.split(' ');
                        this.firstName = names[0];
                        this.lastName = names[names.length - 1];
                    }
                }
            }
        });

    };

</script>

</body>
</html>