/* line 5, ../sass/operator.scss */
.font {
  font-size: -1px;
}

/* line 9, ../sass/operator.scss */
.font2 {
  font-size: 25px;
}

/* line 13, ../sass/operator.scss */
.font3 {
  font-size: 60px;
}

/* line 17, ../sass/operator.scss */
.font4 {
  font-size: 0.92308;
}

/* line 21, ../sass/operator.scss */
.font5 {
  font-size: 2px;
}
