<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="scripts/vue.js"></script>
</head>
<body>

<div id="app">
    <input v-model="num1">+<input v-model="num2">=<input type="text" v-model="sum" >
</div>

<script>
    
    window.onload = function() {
        
        var vm = new Vue({
            el: '#app',
            data: {
                num1: 1,
                num2: 2
            },
            computed: {
                // 一个计算属性的getter
                sum: {
                    
                    // setter
                    set: function(newValue) {
                        // 如果这个也双向绑定了，会把数据实时同步
                        var val = Number(newValue);
                        this.num1 = val/2;
                        this.num2 = val/2;
                    },

                    // getter
                    get: function() {
                        return Number(this.num1) + Number(this.num2);
                    }
                }
            }
        });

        
    };

</script>

</body>
</html>